:root {
    --verde-água: #35d0cb;
    --azul-escuro: hsl(222, 57%, 53%);
    --azul-marinho: hsl(222, 62%, 39%);
    --branco: #ffffff;
    --cinza: #cff4f2;
    --preto: #000000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f5f7;
}

/* HEADER */
header {
    background-color: var(--azul-escuro);
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}

/* CENTRALIZA */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

/* CAIXA */
section {
    background: var(--branco);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 350px;
}

/* TÍTULO */
h1 {
    text-align: center;
    color: var(--azul-escuro);
}

/* BOTÃO */
button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--verde-água);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #3810c8;
}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azul-escuro);
    color: black;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
    padding: 10px;
}
