:root {
    --laranja-claro: #ffcb64;
    --laranja: hsl(35, 62%, 51%);
    --laranja-escuro: hsl(35, 87%, 46%);
    --vermelho: hsl(343, 100%, 59%);
    --branco: #ffffff;
    --cinza: #e6e6e6;
    --preto: #000000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(Food.jpeg);
}

header {
    background-color: var(--laranja);
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

section {
    background: var(--branco);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 420px;
}

h1 {
    text-align: center;
    color: var(--laranja);
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

th {
    background-color: var(--laranja);
    color: white;
    padding: 10px;
    text-align: center;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid var(--laranja-escuro);
    outline: none;
    text-align: center;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--laranja-claro);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #e6b13d;
}

.total {
    margin-top: 15px;
    padding: 10px;
    background: var(--cinza);
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    color: var(--laranja-escuro);
}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--laranja);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

footer.erro{
    background-color: var(--vermelho);
    color: white;
}